# Modul Python Bahasa Indonesia
## Seri Keenam
___
Coded by psychohaxer | Version 1.8 (2020.12.13)
___
Notebook ini berisi contoh kode dalam Python sekaligus outputnya sebagai referensi dalam coding. Notebook ini boleh disebarluaskan dan diedit tanpa mengubah atau menghilangkan nama pembuatnya. Selamat belajar dan semoga waktu Anda menyenangkan.

Catatan: Modul ini menggunakan Python 3

Notebook ini dilisensikan dibawah [MIT License](https://opensource.org/licenses/MIT).
___

## Bab 6 Operasi Khusus pada Tipe Data
Sebelum memulai, ada beberapa `modul` yang diperlukan untuk masing-masing operasi. Berikut adalah kumpulan modul untuk operasi aritmatika.

In [20]:
import math as mt ## modul math untuk operasi matematika lanjutan
from decimal import Decimal as D ## Sub-modul untuk bilangan desimal
from fractions import Fraction as F ## Sub-modul untuk pecahan

### Konversi Bilangan
Konversi dapat dilakukan dengan fungsi `int()`, `float()`, dan `complex()` dengan parameter masing-masing adalah value atau variabel yang hendak dikonversi. Tipe data `complex` tidak bisa dikonversi menjadi `integer` atau `float`, sedangkan sebaliknya bisa.

Disini kita akan membuat dua variabel dengan nama `bulat`, `koma`, dan `kompleks` yang berisi nilai bertipe sesuai namanya.

In [2]:
bulat = 10
koma = 7.9
kompleks = 10+0j

#### Fungsi `int()`
Konversi ke bilangan bulat menggunakan fungsi `int()`, dimana parameter diisi dengan angka atau nama variabel referensi.

In [3]:
## Contoh penggunaan int() dengan parameter variabel
int(koma)

7

In [4]:
## Contoh penggunaan int() dengan parameter bilangan koma
int(3.14)

3

Mengkonversi bilangan tipe `complex` ke `integer` akan menghasilkan error.

In [23]:
## Mencoba mengkonversi bilangan kompleks ke bilangan bulat
int(kompleks)

TypeError: can't convert complex to int

#### Fungsi `float()`
Sedangkan untuk konversi ke bilangan koma, digunakan fungsi `float()`.

In [5]:
## Contoh penggunaan float() dengan parameter variabel
float(bulat)

10.0

In [6]:
## Contoh penggunaan float() dengan parameter bilangan bulat
float(4)

4.0

Sama halnya dengan `integer`, mengkonversi bilangan tipe `complex` ke `float` akan menghasilkan error.

float(kompleks)

#### Fungsi `complex()`
Konversi ke bilangan kompleks menggunakan fungsi `complex()`

In [21]:
## Contoh penggunaan complex() dengan parameter bilangan bulat
complex(360)

(360+0j)

In [22]:
## Contoh penggunaan complex() dengan parameter bilangan koma
complex(14.89)

(14.89+0j)

### Pembulatan Bilangan
Python mampu melakukan pembulatan dapat dengan beberapa cara. Cara yang dibahas pada materi ini adalah penggunaan fungsi `round()`, `ceil()`, dan `floor()`.

#### Pembulatan dengan fungsi `round()`
Pembulatan fungsi `round()` memiliki syntax `round(number, ndigits)`. Parameternya:
  * `number` – bilangan yang akan dibulatkan
  * `ndigits` (opsional) – jumlah digit yang diinginkan dibelakang koma

Jika `ndigits` dikosongkan maka akan dibulatkan ke integer terdekat.

In [29]:
## round() tanpa ndigits
round(7.5)

8

#### Pembulatan dengan fungsi `ceil()` dan `floor()`
Pembulatan ke atas atau ke bawah dapat dilakukan dengan `ceil()` atau `floor()` yang keduanya berasal dari modul `math`. Sebelumnya kita sudah melakukan `import` modul tersebut dan memberinya alias `mt`.

In [16]:
## Pembulatan keatas dengan ceil()
mt.ceil(7.2)

8

In [17]:
## Pembulatan kebawah dengan floor()
mt.floor(7.9)

7

### Bilangan Desimal
Ada kalanya perhitungan menggunakan float di Python membuat kita terkejut. Kita tahu bahwa 1.1 ditambah 2.2 hasilnya adalah 3.3. Tapi pada saat kita lakukan dengan Python, maka hasilnya berbeda.

In [37]:
## penjumlahan bilangan float
1.1 + 2.2

3.3000000000000003

In [38]:
## membandingkan hasi penjumlahan bilangan float
(1.1 + 2.2) == 3.3

False

Hal ini terjadi karena bilangan dalam komputer disimpan  dalam bentuk digit `0` atau `1`. Bila padanan digitnya tidak sesuai, maka bilangan float seperti 0.1 dalam bilangan biner akan menjadi pecahan yang sangat panjang yaitu `0.000110011001100110011…` dan komputer kita hanya akan menyimpan panjang yang terbatas. Hal inilah yang menyebabkan terjadinya masalah seperti pada contoh di atas.

Untuk menangani hal seperti itu, kita bisa menggunakan modul bawaan Python yaitu modul `decimal`. Float hanya memiliki presisi sampai 15 digit di belakang koma, sementara dengan modul decimal kita bisa mengatur presisi jumlah digit di belakang koma.

In [44]:
# penjumlahan bilangan desimal
print(D('1.1') + D('2.2'))

3.3

In [46]:
# pengurangan bilangan desimal
print(D('1.1') - D('2.2'))

-1.1

In [47]:
# perkalian bilangan desimal
print(D('1.1') * D('2.2'))

2.42

In [48]:
# pembagian bilangan desimal
print(D('1.1') / D('2.2'))

0.5

##### Kapan Saatnya Menggunakan Decimal Dibanding Float?

Kita lebih baik menggunakan Decimal dalam kasus:
* Saat kita ingin membuat aplikasi keuangan yang membutuhkan presisi desimal yang pasti
* Saat kita ingin mengontrol tingkat presisi yang diperlukan
* Saat kita ingin menerapkan perkiraan berapa digit decimal yang signifikan
* Saat kita ingin melakukan operasi perhitungan sama persis dengan yang kita lakukan di sekolah

### Bilangan Pecahan
Python menyediakan modul `fractions` untuk mengoperasikan bilangan pecahan. Pecahan adalah bilangan yang memiliki pembilang dan penyebut, misalnya 3/2. Parameternya bisa berisi bilangan desimal/float, atau bilangan pembilang dan penyebut yang dipisahkan koma.

Ingat diatas kita sudah memberikan alias `F` untuk modul ini.

In [56]:
## membuat pecahan dengan bilangan float
print(F(1.5))

3/2

In [57]:
## membuat pecahan dengan bilangan pembilang dan penyebut
print(F(2,3))

2/3

### Mengakses Item dengan Index
Untuk mengakses item dari list caranya adalah dengan memanggil nama list diikuti indeks dari item yang bersangkutan, yaitu dengan format `namalist[index]`. Selain itu bisa juga dilakukan pengaksesan terhadap sejumlah item dari indeks ke indeks. Hal ini disebut slicing. Contohnya sebagai berikut:

<img src='img/list-example.png'>

In [8]:
lst = [17, ['I','Love','Python'], [3.14, 'r', 2], 14+5j, 'guud']
##    [0   1                       2              3      4     ]

## Mengakses elemen list
print('Indeks ke-0:', lst[0])
print('Indeks ke-1:', lst[1])
print('Indeks ke-2:', lst[2])
print('Indeks ke-3:', lst[3])
print('Indeks ke-4:', lst[4])

Indeks ke-0: 17
Indeks ke-1: ['I', 'Love', 'Python']
Indeks ke-2: [3.14, 'r', 2]
Indeks ke-3: (14+5j)
Indeks ke-4: guud

In [9]:
lst = [17, ['I','Love','Python'], [3.14, 'r', 2], 14+5j, 'guud']
##    [-5  -4                      -3             -2     -1    ]

## List dengan indeks negatif
print('Indeks terakhir:', lst[-1])
print('Indeks kedua-terakhir:', lst[-2])

Indeks terakhir: guud
Indeks kedua-terakhir: (14+5j)

In [10]:
lst = [17, ['I','Love','Python'], [3.14, 'r', 2], 14+5j, 'guud']
##         [0   1      2       ]  [0     1    2]
##    [0   1                       2              3      4     ]

## Mengakses list dalam list
print('Indeks ke-2 dari list di indeks ke-1:', lst[1][2])

Indeks ke-2 dari list di indeks ke-1: Python

### Slicing
Selain bisa digunakan pada `String`, _slicing_ juga bisa digunakan pada apapun yang memiliki indeks, seperti `List`, `Tuple`, dan `Set`. Slicing dilakukan dengan indeks parameter pertama sebagai elemen awal dan indeks parameter kedua sebagai elemen batas. Sebagai contoh kita punya list huruf dibawah.

In [53]:
huruf = ['A', 'B', 'C', 'D', 'E', 'F']
##        0    1    2    3    4    5
huruf

['A', 'B', 'C', 'D', 'E', 'F']

Kita akan mengambil elemen dengan indeks ke 1 sampai 3 menggunakan metode slicing.

In [55]:
## slicing untuk mengambil elemen dengan indeks 1 sampai 3
huruf[1:4]

['B', 'C', 'D']

### Menambahkan Elemen
Menambahkan elemen bisa dilakukan dengan fungsi `append()`, `insert()`, dan menggunakan metode _concatenation_ atau penggabungan.

#### Fungsi `append()`
Fungsi ini digunakan untuk menambahkan elemen setelah indeks terakhir. Syntax untuk fungsi `append()` adalah memanggilnya dibelakang nama variabel dan diikuti parameter elemen yang hendak ditambahkan. Parameter ini bisa berisi data, variabel, atau fungsi.

Syntax: `variable.append(data)`
* `variable` = variabel yang digunakan
* `data` = data yang ditambahkan

Dibawah kita memiliki list dengan nama `list1`. Kita akan menambahkan elemennya.

In [1]:
list1 = ['A','B','C','D','E','F']
list1

['A', 'B', 'C', 'D', 'E', 'F']

Dibawah kita akan menggunakan fungsi `append()` dengan parameter data secara langsung.

In [2]:
list1.append('G')
list1

['A', 'B', 'C', 'D', 'E', 'F', 'G']

Kita juga bisa memanggil nilai dari variabel yang diinginkan.

In [3]:
elemen = 'H'
list1.append(elemen)
list1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Bisa juga dengan memanggil fungsi `input()`.

In [4]:
list1.append(input("Masukkan input :"))
list1

Masukkan input : I

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

#### Fungsi `insert()`
Fungsi ini digunakan untuk memasukkan elemen ke indeks yang spesifik.

Syntax: `variabel.insert(index, data)`
* `variabel` = variabel yang digunakan
* `index` = indeks yang diisi
* `data` = data yang ditambahkan

Kita akan menggunakan list baru sebagai contoh.

In [13]:
list2 = [13, 14, 15, 16, 18, 19, 20]
##       0   1   2   3   4   5   6
list2

[13, 14, 15, 16, 18, 19, 20]

List diatas berisi urutan bilangan yang kurang lengkap, bukan? Kita akan menambahkan elemen yang hilang pada indeks ke-4.

In [14]:
list2.insert(4, 17)
list2

[13, 14, 15, 16, 17, 18, 19, 20]

Dari output diatas, kita bisa melihat item yang sebelumnya ada di indeks ke-4 tergeser ke indeks ke-5.

#### Metode _concatenation_
Cukup dengan operator `+`, kita bisa menambahkan elemen. Sebagai contoh kita punya list dengan nama `list3` dan `list4`.

In [31]:
list3 = ['Ayam', 'Bebek']
list3

['Ayam', 'Bebek']

In [32]:
list4 = ['Sapi', 'Kambing']
list4

['Sapi', 'Kambing']

Kita akan menambahkan elemen `list4` ke `list3`.

In [33]:
list3 += list4
list3

['Ayam', 'Bebek', 'Sapi', 'Kambing']

Kita bisa menambahkannya secara langsung, dengan catatan **tipe datanya harus sama**.

In [34]:
list3 += ['Kerbau']
list3

['Ayam', 'Bebek', 'Sapi', 'Kambing', 'Kerbau']

Jika kita menggabungkan list dengan string, hasilnya seperti dibawah

In [35]:
list3 += 'Gajah'
list3

['Ayam', 'Bebek', 'Sapi', 'Kambing', 'Kerbau', 'G', 'a', 'j', 'a', 'h']

___
coded with ❤ by [psychohaxer](http://github.com/psychohaxer)
___