In [1]:
a = "Hello"
b = "World"

In [2]:
print(a,b)

Hello World

In [3]:
print(a+b)

HelloWorld

In [4]:
a = 30
b = 4.2

In [5]:
print(a,b)

30 4.2

In [6]:
type(a)

int

In [7]:
type(b)

float

In [8]:
c = a + b

In [9]:
c

34.2

In [10]:
type(c)

float

In [11]:
8 / 2

4.0

In [12]:
8 * 2

16

In [13]:
kata = "kursi"

In [14]:
kata[0]

'k'

In [15]:
type(kata)

str

In [16]:
d = 'd'

In [17]:
type(d)

str

In [18]:
kata[-1]

'i'

In [19]:
kata[-2]

's'

In [20]:
kata[1:3]

'ur'

In [21]:
a = "Hello "
b = "world!"

In [22]:
print(a,b)

Hello  world!

In [23]:
print(a+b)

Hello world!

In [24]:
mobil = ['toyota','kijang','pajero']

In [25]:
mobil[2]

'pajero'

In [26]:
mobil[1:3]

['kijang', 'pajero']

In [27]:
lst = [1, ['Modul','Python','Bahasa','Indonesia'], [1200, 3500, 'a'], 14+5j]

In [28]:
lst

[1, ['Modul', 'Python', 'Bahasa', 'Indonesia'], [1200, 3500, 'a'], (14+5j)]

In [29]:
type(lst)

list

In [32]:
lst[1][1]

'Python'

In [33]:
lst[1][1:4]

['Python', 'Bahasa', 'Indonesia']

In [34]:
p = [
    [1,2,3,4,5],
    [6,7,8,9,0]
]

In [35]:
p[1]

[6, 7, 8, 9, 0]

In [38]:
p[0][3:8]

[4, 5]

In [39]:
p = [
    [['a','b'],['c','d']],
    [['e','f'],['g','h']]
]

In [40]:
p[0]

[['a', 'b'], ['c', 'd']]

In [41]:
p[0][0]

['a', 'b']

In [42]:
p[0][0][0]

'a'

In [44]:
output = [
    ['14','Heru','30','Depok',['782','442'],25],
    ['16','Budi','42','Jkt','281',40]
]

In [45]:
output

[['14', 'Heru', '30', 'Depok', ['782', '442'], 25],
 ['16', 'Budi', '42', 'Jkt', '281', 40]]

In [46]:
output[0][1] = 'Andi'

In [47]:
output

[['14', 'Andi', '30', 'Depok', ['782', '442'], 25],
 ['16', 'Budi', '42', 'Jkt', '281', 40]]

In [48]:
konstan = (200, 500.4, 'tetap')

In [49]:
konstan

(200, 500.4, 'tetap')

In [51]:
konstan[1:3]

(500.4, 'tetap')

In [52]:
konstan[1] = 99

TypeError: 'tuple' object does not support item assignment